.child-divider-container > * {
    padding-bottom: 0px;
    border-bottom: 0px;
    /* border-bottom: 1px solid darkgray; */
}
.child-divider-container:last-child {
    border: 0px;
}
#placeholder-with-divider {
    border-top: 0.5px solid lightgray; 
    height: 1.5rem;
    width: 92%;
    display: block;
    margin: 0 auto;
}
.card-height-control{
    margin-bottom: 1.5rem;
}