@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1632962702660') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-alt:before {
  content: "\e731";
}

.icon-arrow-up-alt:before {
  content: "\e743";
}

.icon-arrow-down-alt:before {
  content: "\e7b2";
}

